<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>系列</title>
    <span th:include="commons/templates :: common-css-js"></span>
    <span th:include="commons/templates :: init-menu"></span>
    <span th:include="commons/templates :: bootstrap-table"></span>
</head>
<body>
<div th:replace="commons/templates :: header"></div>
<div class="container">
    <h3>系列</h3>
    <hr>
    <table id="records-info"></table>
</div>
</body>
<script th:inline="text">
    $('#records-info').bootstrapTable({
        url: "[[@{/Modal/all}]]",//请求数据url
        showRefresh: true,
        smartDisplay: true,
        showToggle: true,
        // showExport:true,
        paginationPreText: '上一页',
        paginationNextText: '下一页',
        pagination: true,//分页
//        sidePagination: 'server',//服务器端分页
        paginationVAlign: 'bottom',
        pageNumber: 1,
        pageSize: 30,
        pageList: [10, 20, 30, 50, 'all'],//分页步进值
        search: true, //显示搜索框
//        striped: true,
        columns: [
            {
                field: 'id',
                title: '编号',
                sortable: true
            },
            {
                field: 'name',
                title: '名称',
                sortable: true
            },
            {
                field: 'sequence',
                title: '序列号',
                sortable: true
            },
            {
                field: 'createTime',
                title: '创建时间',
            },
        ]
    })
</script>
</html>